{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static %}
{% block title %}Add Feature{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
        <h1> Request a Feature </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
         <!--Form to allow users request a new feature-->
        <form method="POST">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-add">Submit</button>
        </form>
    </div>
</div>
{% endblock %}