{% extends 'base.html' %}
{% load static %}
{% block title %}Features{% endblock %}
{% block content %}
<div class="row">
    <div class="col-10 offset-1 offset-md-1 col-md-6 offset-lg-2 col-lg-6">
        <h1 class="feature-title">Feature Requests</h1>
    </div>
    <div class="col-5 offset-3 offset-md-0 col-md-4 col-lg-2">
        <a href="{% url 'new_feature' %}" class="btn btn-add" type="btn">Request Feature</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
        <!--Iterates through the list of feature request displaying each one in a bootstrap card-->
        {% for feature in features %}
            <div class="card feature-card">
                <!--Background color of header dependes on phase of development-->
                {% if feature.phase_of_development == 'Doing' %}
                    <div class="card-header bg-color-done">{{ feature.phase_of_development }} 
                        <span class="dev-phase">{{ feature.phase_of_development }}</span>
                        <h5 class="feature-heading">{{ feature.name }} </h5>
                        <form method="POST" class="vote-form" action="{% url 'add_to_cart' feature.id %}">
                            {% csrf_token %}
                            <button class="btn btn-add" type="submit"> <span class="votes">{{feature.upvote }} <i class="far fa-thumbs-up"></i></span></button>
                        </form>
                    </div>
                {% elif feature.phase_of_development == 'Done' %}
                    <div class="card-header bg-color-doing">
                        <span class="dev-phase">{{ feature.phase_of_development }}</span>
                        <form method="POST" class="vote-form" action="{% url 'add_to_cart' feature.id %}">
                            {% csrf_token %}
                            <button class="btn btn-add" type="submit"> <span class="votes">{{feature.upvote }} <i class="far fa-thumbs-up"></i></span></button>
                        </form>
                        <h5 class="feature-heading">{{ feature.name }} </h5>
                    </div>
                {% elif feature.phase_of_development == 'ToDo' %}
                    <div class="card-header bg-color-todo">
                        <span class="dev-phase">{{ feature.phase_of_development }}</span>
                        <form method="POST" class="vote-form" action="{% url 'add_to_cart' feature.id %}">
                            {% csrf_token %}
                            <button class="btn btn-add" type="submit"> <span class="votes">{{feature.upvote }} <i class="far fa-thumbs-up"></i></span></button>
                        </form>
                        <h5 class="feature-heading">{{ feature.name }} </h5> 
                    </div>
                {% endif %}
                <div class="card-body">
                    {% if request.user == feature.requested_by %}
                        <p class="card-text">{{feature.details}} <a href="{% url 'edit_feature' feature.id %}"><i class="fas fa-edit"></i></a></p>
                    {% else %}
                        <p>{{ feature.details}}</p>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    requested by {{feature.requested_by}} on {{feature.posted_on}}
                </div>
            </div>
        {% endfor %}    
    </div>
</div>
{% endblock %}