{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Features{% endblock %}
{% block content %}
<div class="row">
    <div class="col-10 offset-1 offset-md-1 col-md-6 offset-lg-2 col-lg-6">
        <h1 class="feature-title">Feature Requests</h1>
    </div>
    <div class="col-5 offset-3 offset-md-0 col-md-4 col-lg-2">
        <a href="{% url 'new_feature' %}" class="btn btn-add" type="btn">Request Feature</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
        <!--Displays each feature in a Bootstrap card.-->
        {% for feature in features %}
            <div class="card feature-card">
                <div class="card-body">
                    <a class="card-title" href="{% url 'feature_description' feature.id %}">
                        {% if feature.phase_of_development == 'Doing' %}
                            <span class="badge badge-done">{{ feature.phase_of_development }}</span>
                        {% elif feature.phase_of_development == 'Done' %}
                            <span class="badge badge-doing">{{ feature.phase_of_development }}</span>
                        {% elif feature.phase_of_development == 'ToDo' %}
                            <span class="badge badge-todo">{{ feature.phase_of_development }}</span>
                        {% endif %}
                        {{ feature.name }}
                    </a>
                    <span class="vote-number">{{feature.upvote }} <i class="far fa-thumbs-up"></i></span>
                    <p class="text-muted">posted: {{ feature.posted_on|naturaltime }} by {{ feature.requested_by }} 
                    <!--Number of comments and views for a particular feature-->
                    <span class="comments">{{ feature.comments.count }} <i class="far fa-comment"></i> </span>
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            {% if features.has_previous %}
                <a class="btn btn-outline-info" href="?page=1">First</a>
                <a class="btn btn-outline-info" href="?page={{ features.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in features.paginator.page_range %}
                {% if features.number == num %}
                    <a class="btn btn-info" href="?page={{ features.number }}"> {{ features.number }}</a>
                {% elif num > features.number|add:'-2' and num < features.number|add:'2' %}
                    <a class="btn btn-outline-info" href="?page={{ num }}"> {{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if features.has_next %}
                <a class="btn btn-outline-info" href="?page={{ features.next_page_number }}">Next</a>
                <a class="btn btn-outline-info" href="?page={{ features.paginator.num_pages }}">last</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}