{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{feature.name}}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-0 col-lg-10">
            <div class="card description-card">
                <h3 class="card-title">
                    {% if feature.phase_of_development == 'Doing' %}
                        <span class="badge badge-done">{{ feature.phase_of_development }}</span>
                    {% elif feature.phase_of_development == 'Done' %}
                        <span class="badge badge-doing">{{ feature.phase_of_development }}</span>
                        {{feature.name}}
                        <span class="vote-number">{{feature.upvote }} <i class="far fa-thumbs-up"></i></span>
                    {% elif feature.phase_of_development == 'ToDo' %}
                        <span class="badge badge-todo">{{ feature.phase_of_development }}</span>
                        {{feature.name}}
                        <button type="button" class="btn btn-add votes" data-toggle="modal" data-target="#upVoteModal{{feature.id}}">
                            {{feature.upvote }} <i class="far fa-thumbs-up"></i>
                        </button>
                    {% endif %}
                </h3>
                <p> - <strong>{{feature.author}}</strong> posted this {{feature.posted_on|naturaltime}}</p>
                {% if request.user == feature.requested_by %}
                    <p class="card-text">{{feature.details}} <a href="{% url 'edit_feature' feature.id %}"><i class="fas fa-edit"></i></a></p>
                {% else %}
                    <p class="card-text">{{feature.details}} </p>
                {% endif %}
            </div>
        </div>      
    </div>

    <div class="row">
        <div class="col-12 offset-md-1 col-md-10 col-lg-9">
            <h2> Comments: </h2>
        </div>
    </div>
    <div class="row comment-row">
        <div class="col-12 offset-md-1 col-md-10 col-lg-9">
            <!--Displays each comment in a Bootstrap card-->
            {% for comment in comments %}
                <div class="card comment-card">
                    <div class="card-header">
                        <p class="card-title"><strong>{{comment.author}}</strong> posted this {{comment.posted_on|naturaltime}}</p>
                    </div>
                    <div class="card-body">
                        {% if request.user == comment.author %}
                            <p class="card-text">
                                {{comment.comment}} 
                                <a href="{% url 'edit_feature_comment' comment.id %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <i class="far fa-trash-alt" data-toggle="modal" data-target="#featureCommentDeleteModal{{comment.id}}"></i> 
                            </p>
                        {% else %}
                            <p class="card-text">{{comment.comment}}</p>
                        {% endif %}
                    </div>
                </div>
                <!--Popup modal for confirming delete-->
                    <div class="modal fade" id="featureCommentDeleteModal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="featureCommentDeleteModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="featureComment">Delete this comment? </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{comment.comment}}
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-delete" href="{% url 'delete_feature_comment' comment.id %}">
                                    Delete Comment
                                    </a>
                                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                                </div>
                                </div>
                            </div>
                        </div>
                {% empty %}
                <p class="text-pale"> No comments to show </p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-11 offset-md-2 col-md-4 offset-lg-1 col-lg-2">
            <a href="{% url 'add_feature_comment' feature.id %}" class="btn btn-comment">Add Comment</a>
        </div>
    </div>

<!--Popup modal for upvoting a feature-->
<div class="modal fade" id="upVoteModal{{feature.id}}" tabindex="-1" role="dialog" aria-labelledby="upVoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upvote Feature</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Upvoting a feature costs €10 per vote. You can purchase a maximum of 10 votes. In return for your payment, we promise to spend at least 50% of our time working on the feature that gets the most votes</p>
            </div>
            <div class="modal-footer">
                <form method="POST" class="vote-form" action="{% url 'add_to_cart' feature.id %}">
                    {% csrf_token %}
                    <button class="btn btn-add" type="submit">Vote</button>
                </form>
                <br>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}