{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}Graphs {% endblock %}
{% block content %}
<div class="row charts-row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 chart-col">
        <h3 class="charts-heading">Bugs Fix Status</h3>
        <canvas id="bugPieChart"  width="300" height="300"></canvas>
    </div>
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 chart-col">
        <h3 class="charts-heading">Most Viewed Bugs</h3>
        <canvas id="bugBarChart"  width="300" height="300"></canvas>
    </div>
</div>
<div class="row charts-row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 chart-col">
        <h3 class="charts-heading">Features Developed</h3>
        <canvas id="featurePieChart" width="300" height="300"></canvas>
    </div>
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 chart-col">
        <h3 class="charts-heading">Most Upvoted Features</h3>
        <canvas id="featureBarChart"  width="300" height="300"></canvas>
    </div>
</div>
{% endblock %}
{% block myjs %}
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript"  src="{% static 'js/charts.js' %}"></script>
{% endblock %}
