{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-4 col-lg-4 home-col">
        <p>
            Business is changing and technology is taking over. Help your business move with the times and sign up to our <strong>UnicornAttractor</strong>!
        </p>
        <p>
            We provide a range of features that can be added to your website to improve user experience 
            and help you stay in touch with what your customers really want. 
            When you sign up you will have the ability to create your very own feature requests and add them to our site. Other members will then be able to view your suggestion and vote for their favourite feature(s). While it is completely free to submit a feature request, it will cost €10 to cast a vote <strong><i class="far fa-thumbs-up"></i></strong>. A user can purchase up to ten votes. 
        </p>
        <p>
            The feature that receives the most votes at end each quarter will be forwarded to out tech team who promise to spend at least 50% of their time on developmening that feature. 
        </p>
    </div>
</div>
{% endblock %}