{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-2 col-lg-7 home-col">
        <h1 class="home-heading"> Welcome to the <strong>UnicornAttractor</strong>!</h1>
        <p>
            Times are changing and more and more customers are purchasing their goods 
            and services online. We are here to help you kickstart your very own ecommerce business and take advantage of all the World Wide Web has to offer. Come check us out and create an <a href="{% url 'registration' %}"> <strong> account </strong> </a> today.  
        </p>
        <p>
            By signing up you will also have the ability to create your very own feature requests. It is completely free to create an account and submit a request. Other users will then be able your request to view and cast their. There is a small fee for casting a vote (€10) <strong><i class="far fa-thumbs-up"></i></strong>.
        </p>
        <p>
            The feature that receives the most votes at end of each quarter will be forwarded to our tech team who promise to spend at least 50% of their time working on developing that feature. 
        </p>
    </div>
</div>
{% endblock %}