{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}Checkout{% endblock %}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
{% endblock head_js %}
{% block content %}
<div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-0 col-lg-5">
        <form method="POST" class="form payment-form" id="payment-form" action="{% url 'checkout'%}">
            {% csrf_token %}
            <div class="form-row">
               <legend>Payment Details</legend>
                <div class="form-group col-12">
                   <label for="FullName">Name on Card: </label>
                   {{payment_form.full_name}} 
                </div>
               <div class="form-group col-12">
                   <div id="credit-card_number">
                        <label for="CreditCardNumber">Credit Card Number: </label>
                        {{payment_form.credit_card_number}} 
                        <div id="card-errors" role="alert"></div>
                   </div>
                </div>
                <div class="form-group col-9">
                    <label for="Expiry Date">Expiry Date:</label><br>
                    {{payment_form.expiry_month}}
                    {{payment_form.expiry_year}} 
                </div>
                <div class="form-group col-3">
                    <label for="CVV">CVV: </label><br>
                    {{payment_form.cvv}} 
                </div>
                <div class="form-group col-12">
                    <label for="Country">Country or region: </label>
                    {{payment_form.country}} 
                </div>
                <div class="form-group col-12">
                    {{payment_form.stripe_id}}
                </div>
                <div class="col-12">
                    <div id="stripe-error-message" role="alert"></div>
                    <button class="btn  btn-checkout" type="submit">Pay Now</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 offset-md-2 col-md-8 offset-lg-1 col-lg-5">
        <table class="table checkout-table">
            <thead>
                <tr>
                    <th colspan="3">
                        <h2 class="table-heading">Cart Items</h2>
                    </th>
                </tr>
                <tr>
                    <th scope="col">Feature Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            {% for item in cart_items %}
                <tr>
                    <td> 
                        <h5>{{item.feature.name}}</h5>
                    </td> 
                    <td>
                        <i class="fas fa-euro-sign"></i> {{item.feature.vote_price}}
                    </td> 
                    <td>
                        {{item.quantity}}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    Total :
                    <i class="fas fa-euro-sign"></i>{{total}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade" id="checkoutModal" tabindex="-1" role="document" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="checkoutModalLabel">Checkout</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>This page in test mode. Please use one of the following 16 digit credit card numbers to submit the form:</p> 
              <ul>
                    <li><strong>4242 4242 4242 4242 </strong> </li>
                    <li><strong>5555 5555 5555 4444</strong></li>
              </ul>
              <p>Or visit <a href="https://stripe.com/docs/testing#international-cards">stripe.com</a> for a list of
                test cards and their corresponding countr,ies.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block myjs %}
<script type="text/javascript"  src="{% static 'js/stripe.js' %}"></script>
<script type="text/javascript"  src="{% static 'js/modal.js' %}"></script>
{% endblock %}