{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %} Add a Bug{% endblock %}
{% block content %}
    <div class="row form-row">
        <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <h1> Add a New Bug </h1>
            <!--Displays a form that allows users to file a bug report-->
            <form method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap}}
                <button type="submit" class="btn btn-bug">Submit</button>
                <a class="btn btn-cancel" onclick="history.go(-1)">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
