{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %} Add Comment{% endblock %}
{% block content %}
<div class="row form-row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
        <h1> Add Comment </h1>
        <!--Form to allow users comment on a bug-->
        <form method="POST" class="comment-form">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <a class="btn btn-cancel" onclick="history.go(-1)">Cancel</a>
            <button type="submit" class="btn btn-bug">Comment</button>
        </form> 
    </div> 
</div>
{% endblock %}