{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} All Bugs{% endblock %}
{% block content %}
<div class="row">
    <div class="col-7 offset-0 offset-md-1 col-md-6 offset-lg-2 col-lg-6">
        <h1>Current Bugs</h1>
    </div>
    <!--Button to  take a user to form that allows them to file a bug report-->
     <div class="col-5 col-md-4 col-lg-2">
        <a href="{% url 'add_bug' %}" class="btn btn-add" type="btn">Report a Bug </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
        <!--Displays each bug in a Bootstrap card.-->
        {% for bug in bugs %}
            <div class="card">
                <div class="card-body">
                        <!--Genereates different colour badges depending on the fix status of a partiular bug-->
                        <a class="card-title" href="{% url 'bug_description' bug.id %}">
                            {% if bug.fix_status == 'Doing' %}
                                <span class="badge badge-done">{{ bug.fix_status }}</span>
                            {% elif bug.fix_status == 'Done' %}
                                <span class="badge badge-doing">{{ bug.fix_status }}</span>
                            {% elif bug.fix_status == 'ToDo' %}
                                <span class="badge badge-todo">{{ bug.fix_status }}</span>
                            {% endif %}
                            {{ bug.title }}
                        </a>
                        <span class="views">{{ bug.views }} <i class="fas fa-eye"></i></span>
                        <p class="text-muted">posted: {{ bug.posted_on|naturaltime }} by {{ bug.author }} 
                            <!--Number of comments and views for a particular bug-->
                            <span class="comments">{{ bug.comments.count }} <i class="far fa-comment"></i> </span>
                        </p>
                    </div>
            </div>
        {% endfor %}
        <div class="pagination">
            {% if bugs.has_previous %}
                <a href="?page=1"> 1 </a>
                <a href="?page={{ bugs.previous_page_number }}"> &lt;</a>
            {% endif %}
            <span class="current">
                {{ bugs.number }}
            </span>
            {% if bugs.has_next %}
                <a href="?page={{ bugs.next_page_number }}"> &gt;  </a>
                <a href="?page={{ bugs.paginator.num_pages }}"> {{ bugs.paginator.num_pages }} </a>
            {% endif %}    
        </div>
    </div>
</div>
        
{% endblock %}