{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-12 offset-md-2 col-md-4 offset-lg-0 col-lg-4">
        <h1>All Bugs</h1>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-2">
        <a href="#" class="btn btn-primary" type="button">Report a Bug </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
            {% for bug in bugs %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title"> {% if bug.fix_status == 'Fixing' %}
                        <span class="badge badge-primary">{{bug.fix_status}}</span>
                    {% elif bug.fix_status == 'Fixed' %}
                        <span class="badge badge-success">{{bug.fix_status}}</span>
                    {% elif bug.fix_status == 'To Do' %}
                        <span class="badge badge-danger">{{bug.fix_status}}</span>
                    {% endif %}
                    <a href="{% url 'bug_description' bug.id %}">{{bug.title}}</a></h5>
                </div>
                    <div class="card-body">
                        posted {{bug.posted_on}}
                        <span class="views"><i class="fas fa-eye"></i> {{bug.views}}</span>
                    </div>
                  </div>
            {% endfor %}
    </div>
</div>
        
{% endblock %}