{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}Bug Detail{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-0 col-lg-8">
        <div class="card description-card">
            <h1 class="card-title">{{bug.title}}</h1>
            <p>{% if bug.fix_status == 'Fixing' %}
                    <span class="badge badge-fixed">{{bug.fix_status}}</span>
                {% elif bug.fix_status == 'Fixed' %}
                    <span class="badge badge-fixing">{{bug.fix_status}}</span>
                {% elif bug.fix_status == 'To Do' %}
                    <span class="badge badge-todo">{{bug.fix_status}}</span>
                {% endif %}
                    - <strong>{{bug.author}}</strong> posted this on {{bug.posted_on}}</p>
                {% if request.user == bug.author %}
                    <p class="card-text">{{bug.details}} <a href="{% url 'edit_bug' bug.id %}"><i class="fas fa-edit"></i></a></p>
                {% else %}
                    <p class="card-text">{{bug.details}} </p>
                {% endif %}
        </div>
    </div>      
</div>
<div class="row">
    <div class="col-12 offset-md-2 col-md-8 col-lg-7 offset-lg-1">
        <h2> Comments: </h2>
    </div>
</div>
<div class="row comment-row">
    <div class="col-12 offset-md-2 col-md-8 col-lg-7 offset-lg-1">
        <!--Displays each comment in a Bootstrap card-->
        {% for comment in bug.comments.all %}
            <div class="card comment-card">
                <div class="card-header">
                    <p class="card-title"><strong>{{comment.author}}</strong> posted this on {{comment.created_on}} </p>
                </div>
                <div class="card-body">
                    {% if request.user == comment.author %}
                        <p class="card-text">{{comment.comment}}<a href="{% url 'edit_comment' comment.id %}"><i class="fas fa-edit"></i></a></p>
                    {% else %}
                        <p class="card-text">{{comment.comment}}</p>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p> No comments to show </p>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-11 offset-md-2 col-md-4 offset-lg-1 col-lg-2">
        <a href="{% url 'add_comment' bug.id %}" class="btn btn-comment">Add Comment</a>
    </div>
</div>
{% endblock %}
