.content-container{
    padding-bottom: 6rem;
}

/********************Nav Styles*/
.navbar-expand-lg{
    background-color: #003f5c;
}      

.navbar-brand,
.nav-link{
    color: #f1f1f1;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 800;
}

.navbar-brand:active,
.navbar-brand:focus,
.navbar-brand:hover{
    color: #f1f1f1;
    font-size: 1.6rem;
    font-weight: 900;
}

.nav-link{
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    color: #f1f1f1;
    font-size: 1.35rem;
    font-weight: 800;
}

.navbar-toggler{
    color: #f1f1f1;
}

/********************Heading Styles*/
h1{
    color: #ffa600;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: left;
}

.profile-heading{
    text-align: center;
}

h2{
    color: #7a5195;
    font-weight: 600;
}

.feature-heading{
    color: #f1f1f1;
    font-size: 1.75rem;
    font-variant: small-caps;
    text-align: center;
    padding: inherit;
}

/********************Button Styles*/
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    color: #f1f1f1;
}

.btn-add{
    background-color: #dd5182;
    border-color: #dd5182;
    float: right;
    margin: 1rem auto;   
}

.btn-comment{
    background-color: #dd5182;
    border-color: #dd5182;
    margin: 1rem auto; 
}

.btn-login{
    background-color: #665191;
    margin-bottom: 1rem;
}

.btn-register{
    background-color: #d45087;
    border-color: #d45087;
    margin-bottom: 1rem;
}

.btn-cancel{
    background-color: #003f5c;
    color: #f1f1f1;
}

/*********************Card Styles*/
.card{
    border: 1px solid #58508d;
    color: #003f5c;
    margin-top: .5rem;
}

.description-card{
    border: none;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.feature-card{
    margin: 2rem auto;
}

.feature-card .card-header{
    font-size: 1.25em;
}

.feature-card .card-body{
    padding: 2rem 3rem;
}

.card-body{
    padding-bottom: .5rem 1.25rem .3rem 1.25rem;
 }

 .card-title{
     font-size: 1rem;
 }

 .card-footer{
    background-color: #ffffff;
    border: none;
    text-align: center;
 }

 .bg-color-done{
    background-color: #955196;
 }

 .bg-color-doing{
    background-color: #dd5182;
 }

 .bg-color-todo{
    background-color: #ff6e54;
 }

 .dev-phase{
     color: #f1f1f1;
 }

 /*********************Modal Styles*/
 .modal-header{
     background-color: #ff6e54;
     color: #f1f1f1;
     text-align: center;
 }

 .modal-header .close{
     color: #f1f1f1;
     font-weight: 800;
 }

 .modal-footer{
     border: none;
     padding-bottom: 1rem;
     padding-right: 1rem;
 }

/*********************Badge Styles*/
.badge{
    color: #f1f1f1;
}

.badge-done{
    background-color: #955196;
}

.badge-doing{
    background-color: #dd5182;
}
.badge-todo{
    background-color: #ff6e54;
}

/**********************Form Styles*/
.login-form{
    margin: 20% auto;
    padding: 2rem;
}

.registration-form{
    margin: 5% auto;
    padding: 1rem;
}

.form{
    border: 2px solid #003f5c;
    color: #003f5c;
}

.payment-form{
    margin: 5% auto;
    padding: 1rem;
}

.vote-form{
    float: right;
}

.vote-form .btn-add{
    margin: 0;
}

legend{
    font-size: 2rem;
    text-align: center;
}

select{
    height: 30px;
}

input{
    height: 30px;
}

/*******************Profile Styles*/
.profile-image{
    display: block;
    height: 15rem;
    margin: 0 auto;
}

.profile-paragraph{
    color: #2f4b7c;
    font-size: 1.25rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    text-align: center;
}

.info-col{
    padding: 2rem 1rem 1rem 1rem;
}

/************************Icon Styles*/
.fa-edit{
    color: #003f5c;
    padding: 1rem;
}

.views,
.comments,
.votes {
    float: right;
    color: #444e86;
}

.votes{
    color: #f1f1f1;
}

/***********************Link Styles*/
a{
    color: #003f5c;
}

a:hover{
    text-decoration: none;
}

.container{
    margin-top: 2rem;
}

/******************Pagination Styles*/
.pagination{
    color: #665191;
    margin: 0 40%;
    font-size: 1.5rem;
}

.pagination a{
    color: #665191;
    padding: 0 0.4rem;
    text-align: center;
}

.current{
    font-weight: 800;
}

/**********************Footer Styles*/
.footer{
    background-color: #003f5c;
    bottom: 0;
    height: 5rem;
    left: 0;
    padding: .2rem;
    position: relative;
    width: 100vw;
}

.footer i{
    color: #f1f1f1;
    font-size: 2.5rem;
}

/**********************Table Styles*/
.table td{
    padding: 1rem;
} 


@media screen and (min-width: 768px){
    h1{
        color: #ffa600;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 4rem;
        text-align: left;
    }

    .card-title{
        font-size: 1.25rem;
    }

    .vote-form .btn-add{
        display: inline-block;
        margin: 0;
    }
}

