/********************Nav Styles*/
.navbar-expand-lg{
    background-color: #003f5c;
}      

.navbar-brand,
.nav-link{
    color: #f1f1f1;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: 800;
}

.navbar-brand:active,
.navbar-brand:focus,
.navbar-brand:hover{
    color: #f1f1f1;
    font-size: 1.6rem;
    font-weight: 900;
}

.nav-link{
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    color: #f1f1f1;
    font-size: 1.35rem;
    font-weight: 800;
}

/********************Heading Styles*/
h1{
    color: #665191;
    line-height: 4rem;
    text-align: center;
}

h5 a{
    color:  #003f5c;
}
/********************Button Styles*/
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    color: #f1f1f1;
}

.btn-add{
    background-color: #dd5182;
    border-color: #dd5182;
    float: right;
    margin: 1rem auto;   
}

.btn-comment{
    background-color: #dd5182;
    border-color: #dd5182;
    margin: 1rem auto; 
}

.btn-login{
    background-color: #665191;
    margin-bottom: 1rem;
}

.btn-register{
    background-color: #d45087;
    border-color: #d45087;
    margin-bottom: 1rem;
}

/*********************Card Styles*/
.card{
    border: 1px solid #58508d;
    color: #003f5c;
    margin-top: .5rem;
}

.description-card{
    border: none;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.card-body{
    padding-bottom: .5rem 1.25rem .3rem 1.25rem;
 }

.views,
.comments {
    float: right;
    padding: 0 1rem;
    color: #dd5182;
}

/*********************Badge Styles*/
.badge{
    color: #f1f1f1;
}
.badge-fixed{
   background-color: #955196;
}
.badge-fixing{
    background-color: #dd5182;
}
.badge-todo{
    background-color: #ff6e54;
}

/**********************Form Styles*/

.user-form{
    border: 2px solid #003f5c;
    color: #003f5c;
}

.login-form{
    margin: 20% auto;
    padding: 2rem;
}

.registration-form{
    margin: 5% auto;
    padding: 1rem;
}

legend{
    font-size: 2rem;
    text-align: center;
}

/*******************Profile Styles*/

.profile-image{
    display: block;
    height: 15rem;
    margin: 0 auto;
}

.profile-paragraph{
    color: #2f4b7c;
    font-size: 1.25rem;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.info-col{
    padding: 0.5rem 1rem
}

.info-col{
    padding: 2rem 1rem 1rem 1rem;
}


