{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %} Login{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 offset-lg-3 col-lg-5">
        <!--Displays a User Login Form-->
        <form method="POST" class="form login-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Sign in to your account</legend>
                {{ form | as_bootstrap }} 
            </fieldset>
            <button type="submit" class="btn btn-login">Log In</button>
        </form>
        <p class="text-pale">
            <a href="{% url 'password_reset' %}">Forget password?</a>
        </p>
        <p class="text-pale">
            Don't have an account? Create one <a href="{% url 'registration' %}">here</a>
        </p>
    </div>
</div>
{% endblock %}
