{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">
    <!--Sends an email to reset the user password-->
        <form method="POST" class="form reset-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="mb-2">Please enter a new password: </legend>
                {{ form | as_bootstrap }} 
            </fieldset>
            <button type="submit" class="btn btn-login">Reset password</button>
        </form>
    </div>
</div> 
{% endblock %}