{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %} Forgotten password{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-3 offset-lg-3 col-lg-6">
        <!--Sends an email to reset the user password-->
        <form method="POST" class="form reset-form">
            <legend class="mb-2">Reset Passsword</legend>
            {% csrf_token %}
            {{ form | as_bootstrap }} 
            <button type="submit" class="btn btn-login">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}
