{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %} Forgotten password{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">
        <!--Sends an email to reset the user's password-->
        <form method="POST" class="form reset-form">
            {% csrf_token %}
            <legend class="mb-2">Please enter your email address: </legend>
            {{ form | as_bootstrap }} 
            <button type="submit" class="btn btn-login">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}
