{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{user}}'s profile{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="profile-heading">{{user}}'s profile page</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 info-row">
        <img class="profile-image" src="/static/img/springunicorn.png" alt="unicorn image">
        <p class="profile-paragraph"><strong>Email: </strong> {{user.email}}</p>
        <p class="profile-paragraph"><strong>Joined: </strong> {{user.date_joined}}</p>
        <p class="profile-paragraph"><strong>Last Log In: </strong> {{user.last_login}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 profile-col">
        <h3 class="profile-subheading">{{user}}'s Bugs</h3>
        {% for bug in bugs %}
            <div class="card profile-card">
                <div class="card-header">
                    <h5>
                        {% if bug.fix_status == 'Doing' %}
                            <span class="badge badge-done">{{ bug.fix_status }}</span>
                        {% elif bug.fix_status == 'Done' %}
                            <span class="badge badge-doing">{{ bug.fix_status }}</span>
                        {% elif bug.fix_status == 'ToDo' %}
                            <span class="badge badge-todo">{{ bug.fix_status }}</span>
                        {% endif %}
                        {{bug.title}}
                    </h5>
                </div>
                <div class="card-body">
                    {{bug.details}} <a href="{% url 'edit_bug' bug.id %}"><i class="fas fa-edit"></i></a>
                </div>
                <div class="card-footer">
                    {{bug.posted_on}}
                </div>
            </div> 
        {% endfor %}
    </div>
    <div class="col-sm-12 offset-md-1 col-md-6 offset-lg-2 col-lg-5 profile-col">
        <h3 class="profile-subheading">{{user}}'s Features</h3>
        {% for feature in features %}
            <div class="card profile-card">
                <!--Background color of header dependes on phase of development-->
                {% if feature.phase_of_development == 'Doing' %}
                    <div class="card-header bg-color-done">{{ feature.phase_of_development }} 
                        <span class="dev-phase">{{ feature.phase_of_development }}</span>
                        <h5 class="feature-heading">{{ feature.name }} </h5>
                    </div>
                {% elif feature.phase_of_development == 'Done' %}
                    <div class="card-header bg-color-doing">
                        <span class="dev-phase">{{ feature.phase_of_development }}</span>
                        <h5 class="feature-heading">{{ feature.name }} </h5>
                    </div>
                {% elif feature.phase_of_development == 'ToDo' %}
                    <div class="card-header bg-color-todo">
                        <span class="dev-phase">{{ feature.phase_of_development }}</span>
                        <h5 class="feature-heading">{{ feature.name }} </h5> 
                    </div>
                {% endif %}
                <div class="card-body">
                    {% if request.user == feature.requested_by %}
                        <p class="card-text">{{feature.details}} <a href="{% url 'edit_feature' feature.id %}"><i class="fas fa-edit"></i></a></p>
                    {% else %}
                        <p>{{ feature.details}}</p>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    requested by {{feature.requested_by}} on {{feature.posted_on}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
