{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 offset-lg-6 col-lg-6">
        <form method="POST" class="registration-form">
            {% csrf_token %}
            <fieldset class="border p-2">
                <legend>Sign in to your account</legend>
                {{ form | as_bootstrap }} 
                <button type="submit" class="btn btn-register">Log In</button>
            </fieldset>
        </form>
        <p>Don't have an account? Sign up <a href="{% url 'registration' %}">here</a></p>
    </div>
</div>
{% endblock %}
