{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 offset-lg-6 col-lg-6">
        <form method="POST" class="registration-form">
            {% csrf_token %}
            <legend>Create an account</legend>
            {{ form | as_bootstrap }} 
            <button type="submit" class="btn btn-register">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}"> Log in</a></p>
    </div>
</div>
{% endblock %}
