{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap  and Font-Awesome CDNs-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <!--Custom CSS file-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>UnicornAttractor - {% block title %}{% endblock %}</title>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">UnicornAttractor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'show_bugs' %}">Bugs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'get_features' %}">Features</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' %}">
                        {% if feature_count > 0 %} 
                            <label class="badge badge-warning">{{ feature_count }}</label>
                            <i class="fas fa-shopping-cart"></i></a>
                        {% else %}
                            <i class="fas fa-shopping-cart"></i></a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="container content-container">
        <!-- Django alert messages to inform users when they have logged in, logged out or registered-->
        {% if messages %}
            {% for message in messages %}
                <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3 offset-3 offset-md-4 col-md-2">
                    <span class="icon"><i class="fab fa-github"></i></span>
                </div>
                <div class="col-3 col-md-2">
                    <span class="icon"><i class="fab fa-linkedin"></i></span>
                </div>
            </div>
        </div>
    </footer>
    <!--jQuery and Bootstrap JS CDNs-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>